.profile-photo {
    height: 100%;
    width: auto;   
    max-width: 100%;
    border-radius: 50%;
}

.whiteTitles {
    text-decoration: underline;
    text-underline-position: under;
    padding-bottom: 20px;
    
    font-weight: 700;
    color: white;
}

.display-4 {
    font-size: 3.5rem;
    font-weight: 350;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 3%;
}

p {
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;   
}

.header-footer-color {
    background-color:#2f3542;
}

.icons {
    padding-left: 20px;
}

.iconColor {
    color: #ffffff;
}

.jumbotron_ {   
padding-bottom:10px;
background-image: url(https://i.ibb.co/DkZgzSR/Design-sem-nome-1.png);
background-size: cover;
background-position: center 20%;

}

.jumbotron_footer {   
    padding-bottom:10px;
    background-image: url(https://i.ibb.co/KzZLpR9/footer.png);
    background-size: cover;
    background-position: center 50%;
}

 
 html {
    scroll-behavior: smooth;
}